html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif, serif;
  color: #5a5a56;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
}

.mastheader_section__wrapper {
  background-color: #ffffff;
  background-size: cover;
}

.mastheader_section {
  padding-top: 50px;
}

.mastheader {
  margin-bottom: 160px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.masthead-nav {
  text-align: center;
}

.nav-list {
  display: inline-block;
}

.nav-list__item {
  list-style: none;
  display: inline-block;
  margin-right: 120px;
}

.item_link {
  color: #626262;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  transition: 0.6s ease;
  text-decoration: none;
}

.item_link:hover {
    border-top: 6px solid #626262;
    border-bottom: 6px solid #626262;
    padding: 6px 0; 
  }
